.layout_root {
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  text-align: right;
}
.title {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: inset 6px 4px 0px #bebebe, inset -6px -4px 0px #ffffff;
}
.title:visited{
  color: #303030;
  text-decoration: none;
}
.title:link{
  text-decoration: none;
}
.main {
}
.footer {
}
.copy_right {
  text-align: center;
}
