.layout_root {
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  text-align: right;
}
.title {
  padding: 22px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset 5px 2.5px 0px #bebebe, inset -5px -2.5px 0px #ffffff;
  color: #bebebe;
}
.title:visited{
  color: #8e8e8e;
  text-decoration: none;
}
.title:link{
  text-decoration: none;
}
.main {
}
.footer {
}
.copy_right {
  text-align: center;
}
