.contents {
  max-width:700px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 200px;
  margin: 20px auto;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 10px 5px 0px #bebebe, -10px -5px 0px #ffffff;
  color: #303030;
}
.title {
  display: block;
  font-size: 24px;
  font-weight: bold;
}
.metaDesc{
  display:block;
  font-size: 16px;
}

@media screen and (max-width: 959px) {
 .contents {
  width: 90%;
  padding: 0px 10px;
 }
}

.date{
  font-size: 18px;
  margin: 0px 5px;
  display:inline-block;
}
.tags{
  display: inline-block;
}
.tag{
  margin: 0px 5px;
  display: inline-block;
}
